@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color:azure;
  overflow-y:visible;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  
}

#home_Section {
  display:inline-block;
  justify-items: center;
  width: 100vw;
  height: 100vh;
}

#title_page {
  font-family: 'Fredoka One', cursive;
  font-size: clamp(3rem, 7vw, 6rem);
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}

#title_page2 {
  font-family: 'Fredoka One', cursive;
  font-size: clamp(1rem, 3vw, 2rem);
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

#kanto_Region_Title {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  color: #ff0000;
  text-align: center; 
  width: 100vw ;
  height: 1vh ;
  margin-top: 10px;
}

.imagen_Pokemon {
  width: 150px;
  height: 150px; 
}

#Container_Of_Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  overflow: auto;
}

.Cards {
  width: 200px;
  max-height: 250px;
  transition: all 2s ease, box-shadow 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 10px;
  padding: 10px;
  background-color: rgb(252, 247, 247);
  text-align: center;
  border-radius: 20%;
}

.Cards:hover {
  cursor: pointer;
}

.podedex_Pokemon {
  font-size: clamp(0.9rem, 1.2vw, 1.7rem);
  padding: 0;
  margin: 0;
}

.nombre_Pokemon {
  font-size: clamp(0.9rem, 1.2vw, 1.7rem);
  padding: 0;
  margin: 0;
}

#kanto_Region_Section {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
}

#go_Kanto {
  margin-top: 5vh;
  width: 20vw;
  height: 30vh;
  background-color: beige;
  color: rgb(0, 122, 221);
}

#go_Kanto:hover {
  cursor: pointer;
}


/*
#characteristics_Bulbasaur {
  /*
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;   
  display:none;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 1000; 
  background-color: #e74c3c;

  gap: 50px;  
  margin-right: 0%;
  margin-left: 0%;
  padding: 0%;
  
  width: 100%;     
  height: 10vh;
  top: 0;        
  position:fixed;
  z-index: 1000;  
  background: linear-gradient(to bottom, rgb(124, 123, 123, .90), rgba(206, 205, 205, 0.90)); ;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;  
  margin-right: 0%;
  margin-left: 0%;
  padding: 0%;*/         
  




@media screen and (max-width: 740px) {
  .imagen_Pokemon {
    width: 100px;
    height: 100px; 
  }

  .Cards {
    width: 100px;
  }
}